<h2 class="rest__title">our restaurant</h2>
<p class="rest__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse debitis voluptates, dolores expedita vel est, 
    possimus consequatur sapiente unde facere cumque consequuntur iure architecto maxime! Dolore impedit ipsam harum voluptatem!</p>

    <p class="rest__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse debitis voluptates, dolores expedita vel est, 
        possimus consequatur sapiente unde facere cumque consequuntur iure architecto maxime! Dolore impedit ipsam harum voluptatem!</p>
